node_modules
/.vs/botchat/v14/.suo
/.vs/config/applicationhost.config
/botchat.sln
/Web.config
/local
**/.vscode
npm-debug.log*
debug.log
test/src
test/mock_dl/conversations.js*
test/mock_dl/index.js*
test/mock_speech/index.js*
test/commands_map.js*
test/server_content.js*
test/interfaces_sdk.js*
npm
cdn
webpacked
built
botchat.js
botchat.js.map
CognitiveServices.js
CognitiveServices.js.map
*.css
/test/uploads
.idea/BotFramework-WebChat.iml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/typescript-compiler.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/markdown-navigator/profiles_settings.xml
